body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  background-color: #121212;
  color: #e0e0e0;
}

.sidebar {
  width: 250px;
  background-color: #1e1e1e;
  padding: 20px;
  position: fixed;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar h2 {
  margin-top: 0;
  color: #00aaff;
}

.sidebar p {
  color: #00aaff;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #e0e0e0;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover {
  background-color: rgba(0, 170, 255, 0.2);
  color: #00aaff;
}

.content {
  padding: 20px;
  flex-grow: 1;
  margin-left: 260px;
  background-color: #181818;
}

.loader {
  margin: 25px;
}
